[user]
	name = RodEsp
	email = 1084688+RodEsp@users.noreply.github.com
	signingkey = <REPLACE>
[init]
	defaultBranch = main
[commit]
	gpgsign = true
[pull]
	rebase = true
[gui]
	pruneduringfetch = true
[smartgit "submodule"]
	fetchalways = false
	update = true
	initializenew = true
[push]
	recurseSubmodules = check
[tag]
	gpgsign = true
