[user]
	name = RodEsp
	email = 1084688+RodEsp@users.noreply.github.com
	signingkey = 816707F3E5E0C81E
[init]
	defaultBranch = main
[commit]
	gpgsign = true
[pull]
	rebase = true
[gui]
	pruneduringfetch = true
[smartgit "submodule"]
	fetchalways = false
	update = true
	initializenew = true
[push]
	recurseSubmodules = check
[tag]
	gpgsign = true

[rebase]
	autoStash = true
[url "ssh://git@github.com/"]
    insteadOf = https://github.com/
