dconf/.config/dconf/user

clipse/.config/clipse/clipboard_history.json
clipse/.config/clipse/clipse.log
clipse/.config/clipse/tmp_files
zsh/.config/zsh/.zcompdump
zsh/.config/zsh/.zsh_history
zsh/.config/zsh/completions
