[language-server.rust-analyzer.config.check]
command = "clippy"

[[language]]
name = "rust"
auto-format = true

[language-server.nil]
command = "nil"
args = ["--stdio"]

[[language]]
name = "nix"
file-types = ["nix"]
formatter = { command = "alejandra" }
language-servers = ["nil"]
auto-format = true
indent = { tab-width = 2, unit = "  " }

[language-server.biome]
command = "biome"
args = ["lsp-proxy"]
provideFormatter = true
display-messages = true

[[language]]
name = "html"
file-types = ["html", "htm", "shtml", "xhtml", "xht", "jsp", "asp", "aspx", "jshtm", "volt", "rhtml", "cshtml"]
language-servers = [ "superhtml" ]
formatter = { command ="superhtml" , args = ["fmt", "-"] }
auto-format = true

[[language]]
name = "json"
language-servers = ["biome"]
# formatter = { command = "biome", args = ["format", "%s", "--indent-style=space", "--indent-width=2"] } # Example formatter command
auto-format = true
indent = { tab-width = 2, unit = "  " }

[[language]]
name = "javascript"
language-servers = [
  { name = "typescript-language-server", except-features = [
    "format",
  ] },
  "biome",
]
auto-format = true
indent = { tab-width = 2, unit = "  " }

[[language]]
name = "typescript"
language-servers = [
  { name = "typescript-language-server", except-features = [
    "format",
  ] },
  "biome",
]
auto-format = true
indent = { tab-width = 2, unit = "  " }

[[language]]
name = "tsx"
auto-format = true
language-servers = [
  { name = "typescript-language-server", except-features = [
    "format",
  ] },
  "biome",
]
indent = { tab-width = 2, unit = "  " }

[[language]]
name = "jsx"
auto-format = true
language-servers = [
  { name = "typescript-language-server", except-features = [
    "format",
  ] },
  "biome",
]
indent = { tab-width = 2, unit = "  " }

[[language]]
name = "python"
roots = ["pyproject.toml"]
formatter = { command = "bash", args = ["-c", "ruff check --fix - | ruff format -"] }
auto-format = true

[[language]]
name = "toml"
formatter = { command = "taplo", args = ["fmt", "-"] }
indent = { tab-width = 2, unit = "  " }

[[language]]
name = "dockerfile"
language-servers = ["docker-langserver"]
indent = { tab-width = 2, unit = "  " }

[language-server.hyprls]
command = "hyprls"

[[language]]
name = "hyprlang"
language-servers = ["hyprls"]
indent = { tab-width = 2, unit = "  " }

[[language]]
name = "markdown"
formatter = { command = "dprint", args = [
  "-c",
  "~/.config/.dprint.jsonc",
  "fmt",
  "--stdin",
  "md",
] }
indent = { tab-width = 2, unit = "  " }

