(
    cmdbar_bg: Some("Green"),
    cmdbar_extra_lines_bg: Some("LightGreen"),
    command_fg: Some("Black"),
    selection_bg: Some("LightGreen"),
    selection_fg: Some("Black"),
    branch_fg: Some("Reset")
)
