@define-color bg0 #2b3339;
@define-color bg1 #323c41;
@define-color bg2 #3a454a;
@define-color bg3 #445055;
@define-color bg4 #4c555b;
@define-color bg5 #53605c;
@define-color bg_visual #503946;
@define-color bg_red #4e3e43;
@define-color bg_green #404d44;
@define-color bg_blue #394f5a;
@define-color bg_yellow #4a4940;
@define-color fg #d3c6aa;
@define-color red #e67e80;
@define-color orange #e69875;
@define-color yellow #dbbc7f;
@define-color green #a7c080;
@define-color aqua #83c092;
@define-color blue #7fbbb3;
@define-color purple #d699b6;
@define-color grey0 #7a8478;
@define-color grey1 #859289;
@define-color grey2 #9da9a0;

* {
  border: none;
  border-radius: 5px;
  font-family: "FiraCode Nerd Font Mono, FontAwesome";
  font-size: 13px;
  min-height: 0;
  transition: 0.3s;
  color: @fg;
  background: @bg;
}

window.eDP-1 * {
  font-size: 15px;
}

#waybar {
  background: transparent;
}

tooltip {
  opacity: 0.8;
  background: @bg0;
  border-width: 1px;
  border-style: solid;
  border-color: @bg2;
  transition: 0.3s;
}

#backlight,
#battery,
#clock,
#cpu,
#custom-media,
#custom-powermenu,
#disk,
#idle_inhibitor,
#language,
#memory,
#mode,
#mpd,
#network,
#power-profiles-daemon,
#pulseaudio,
#scratchpad,
#temperature,
#tray,
#wireplumber,
#workspaces {
  opacity: 0.8;
  background-color: @bg0;
  padding: 0px 10px;
  margin-top: 5px;
}

#tray window {
  background: @bg0;
}

#tray menu *:hover {
  background: @bg1;
}

#clock {
  margin-left: 7px;
}

#cpu {
  padding-right: 0px;
  margin-right: 0px;
  border-bottom-right-radius: 0px;
  border-top-right-radius: 0px;
}

#memory {
  padding-left: 4px;
  margin-left: -4px;
  border-bottom-left-radius: 0px;
  border-top-left-radius: 0px;
}

#workspaces label {
  color: @fg;
}

#workspaces button {
  padding: 7px;
}

#workspaces button.active label {
  color: @grey1;
}

#workspaces button.focused {
  background: @bg5;
  border-radius: 20px;
}

#custom-powermenu {
  margin-right: 5px;
}

@keyframes blink {
  to {
    background-color: @red;
  }
}

#battery.warning:not(.charging) {
  color: white;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: steps(12);
  animation-iteration-count: 5;
  animation-direction: alternate;
}

#battery.critical:not(.charging) {
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: steps(12);
  animation-iteration-count: infinite;
  animation-direction: alternate;
}