* {
    border: none;
    border-radius: 0;
    font-family: FiraCode Nerd Font Mono, FontAwesome;
    font-size: 13px;
    min-height: 0;
}

window.eDP-1 * {
  font-size: 18px;
}

#waybar {
	background: transparent;
	color: #2b3339;
}

#backlight,
#battery,
#clock,
#cpu,
#custom-media,
#disk,
#idle_inhibitor,
#language,
#memory,
#mode,
#mpd,
#network,
#power-profiles-daemon, 
#pulseaudio,
#scratchpad,
#temperature,
#tray,
#wireplumber,
/* #workspaces, */
#custom-powermenu {
  border-radius: 5px;
	background-color: rgba(46, 52, 64, 0.7);
	padding: 0px 5px;
	margin-top: 5px;
	color: #9DA9A0;
}

#workspaces {
  margin-left: 5px;
}

#workspaces button {
  background-color: rgba(46, 52, 64, 0.7);
	padding: 2px 5px;
  border-radius: 5px;
  margin-right: 5px;
  margin-top: 5px;
  color: #9DA9A0;
}

#custom-powermenu {
  margin-right: 5px;
}

@keyframes blink {
    to {
        background-color: red;
        /* color: black; */
    }
}

#battery.warning:not(.charging) {
    color: white;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: 5;
    animation-direction: alternate;
}

#battery.critical:not(.charging) {
    /* color: white; */
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
